version: "3.8"

services:
  rabbitmq: # rabbitmqctl set_permissions -p / guest ".*" ".*" ".*"
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # Porta de comunicação com os containers
      - "15672:15672" # Porta de acesso à interface de gerenciamento (localhost:15672)
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - gfood-net

networks:
  gfood-net:
    driver: bridge
